@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  overflow: hidden;
  /* color:white; */
}

html,
body {
  height: 100%;
  width: 100%;
  background: url("https://i.pinimg.com/originals/d6/57/d8/d657d8d95b1e9ca81e80e511b3ddd78a.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demoPage {
  height: 200px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #aa9292;
  border-left: 1px solid black;
}

.page-shadow {
  box-shadow: 5px 5px 20px black;
  border-left:3px solid rgba(0, 0, 0, 0.548);
}
.page2-shadow {
  box-shadow: 5px 5px 20px black;
  border-right: 3px solid rgba(0, 0, 0, 0.548);
}
